<app-navbar></app-navbar>

<!-- <form action="/login" method="post" enctype="multipart/form-data">
    Username: <input type="text" name="name"><br><br>
    Password: <input type="password" name="password" ><br><br>
    File: <input type="file" name="file" id="file"><br><br>
    <input type="submit" name="submit">
</form> -->
<form>
    
    <input type="file" (change)='selectFile($event)' name="file" id="file"><br><br>
    <button (click)='add()'>Submit image</button>
</form><br><br>
<p style="text-align: center;"><a  href="{{link}}" target="_blank">{{link}}</a></p>