
div.gallery {
    margin: 2%;
    border: 1px solid #ccc;
    border-radius: 5%;
    float: left;
    width: 20%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 5px 5px 8px rgb(125, 179, 201);

  }
  
  div.gallery img {
    width: 100%;
    height: 70%;
  }

  
  div.desc {
    padding: 3%;
    text-align: center;
  }